@model WebAppProject3.Models.LinkModel

@{
    ViewData["Title"] = "Delete Link";
}

<div class="">
    <h1 class="h1 text-center my-4">_LaunchPad</h1>
    <h2 class="h2 text-center my-4">Delete Link</h2>

    @* make the form to delete link *@
    <form asp-controller="LinkAdmin" asp-action="DeleteSubmit" asp-route-linkId="@Model.LinkId" method="post" asp-route-categoryId="@Model.LinkCategory.CategoryId">

        <p>Are you sure you want to delete this link?</p>

        <div class="d-flex flex-row mx-auto gap-3">
            <button type="submit" class="btn btn-primary">Delete</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Cancel</a>
        </div>
    </form>
    


</div>
