@model WebAppProject3.Models.CategoryModel

@{
    ViewData["Title"] = "Edit Category";
}

<div class="">
    <h1 class="h1 text-center my-4">_LaunchPad</h1>
    <h2 class="h2 text-center my-4">Edit Category</h2>

    @* make a form that posts to the controller to edit category *@
    <form method="post" class="flex-column d-flex gap-4 mx-auto my-5" id="formSection" asp-action="EditSubmit" asp-controller="Category" asp-route-id="@Model.CategoryId">
        
        @* the fields are: CategoryName, hidden CategoryId *@
        <div class="form-group">
            <label for="CategoryName">Category Name</label>
            <input type="text" class="form-control" id="CategoryName" asp-for="CategoryName" />
            <span asp-validation-for="CategoryName"></span>
        </div>

        <input type="hidden" name="CategoryId" value="@Model.CategoryId" asp-for="CategoryId" />


   
        <button type="submit" class="btn btn-primary" >Submit</button>
        <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Cancel</a>
    </form>

</div>